#team {
  height: max-content;
  border: thin solid black;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#team > h1 {
  text-align: left;
  font-size: 2rem;
  width: 45%;
  line-height: 2.3rem;
  height: max-content;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid black;
}

#team > p {
  text-align: center;
  height: max-content;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid black;
}

#team-containers {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}

.team-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: thin solid black;
}
