.button-reusable {
  border: thin solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 100px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100px;
  width: max-content;
  height: 5vh;
  cursor: pointer;
}

.button-reusable > span {
  margin-left: 4vw;
}

.button-reusable-arrow {
  color: var(--secondary-color);
  width: max-content;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 4vw;
}
