#home-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

#navigation-bar {
  width: 100vw;
  height: 4vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-bar a {
  text-decoration: none;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navigation-container {
  margin-left: 10vw;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-contact {
  margin-right: 10vw;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-contact > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-contact > * * {
  font-size: 1.5rem;
  color: var(--tertiary-color);
}

.social-icons {
  font-size: 2rem;
  color: var(--tertiary-color);
}

.header-logo {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header-logo a {
  width: max-content;
  height: 100%;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-info {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-info a {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.header-logs {
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header-logs a {
  width: 70%;
  height: 100%;
  border-radius: 500px;
  font-size: 1.5rem;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  #navigation-bar {
    width: 100vw;
    height: 4vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #navigation-container {
    margin: 0;
    width: 60%;
  }

  #navigation-contact {
    display: none;
  }
}
