#home-page {
  width: 100%;
  min-height: 37vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#home-page > * {
  border: thin solid black;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#waitlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
