a {
  text-decoration: none;
}

#navigation-bar {
  width: 100vw;
  height: 4vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-bar a {
  text-decoration: none;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navigation-container {
  margin-left: 10vw;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-contact {
  margin-right: 10vw;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-contact > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navigation-contact > * * {
  font-size: 1rem;
  color: var(--tertiary-color);
}

.social-icons {
  font-size: 1.5rem;
  color: var(--tertiary-color);
}

.contact-cont {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-cont p {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.burger {
  width: 4vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.burger > * {
  width: 100%;
  height: 10%;
  border-radius: 3vw;
  background-color: var(--primary-color);
  /* border: thick solid var(--primary-color); */
}

@media (max-width: 768px) {
  #navigation-bar {
    width: 100vw;
    height: 4vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #navigation-container {
    margin: 0;
    width: 60%;
  }

  #navigation-contact {
    display: none;
  }
}
