#wait-page {
  min-height: 80vh;
  width: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wait-form {
  width: 100%;
  border: thin solid black;
  height: 50vh;
}
