#wait-page {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wait-form {
  width: 50%;
  height: max-content;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#wait-form > * {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#wait-page > h1 {
  text-align: center;
}

#wait-form > span {
  width: 80%;
  height: 5vh;
  display: flex;
  background-color: var(--tertiary-color);
  align-items: center;
  justify-content: space-evenly;
}

#wait-form > span input {
  border: none;
}

#wait-form > textarea {
  width: 72%;
  height: 20vh;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea:focus {
  outline: none;
}

#wait-form > span > input {
  text-align: center;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wait-form button {
  width: 80%;
  height: 5vh;
  border: thin solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.wait-icons {
  size: 2rem;
  color: var(--primary-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 40vh; */
  width: 30vw;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.modal-head {
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.modal-par {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  color: var(--primary-color);
}

.check-icon {
  color: var(--primary-color);
  font-size: 3em;
}

.modal-button {
  width: 10vw;
  height: 4vh;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: thin solid var(--primary-color);
}

@media only screen and (max-width: 768px) {
  /* Styles for phone and tablet devices */

  #wait-page {
    width: 98%;
  }

  #wait-form {
    width: 100%;
  }

  .modal {
    width: 80%;
  }

  .modal-button {
    width: 40vw;
  }
}
