@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --primary-color: #172e08;
  --secondary-color: #ffffff;
  --tertiary-color: #d8ffc0;
  --font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: column;
  align-items: center;
  justify-content: center;
}
